<footer>
  <div class="f-left-item">Logo</div>
  <div class="f-right-item">Link</div>
  <div class="f-bottom-item">
    <ul>
      <% links.forEach((link) => { %>
        <li><a href="<%=link.path%>"><%= link.name%></a></li>
      <% })%>
    </ul>
  </div>
</footer>

<%/* Tailwind might actually be a clutch here*/%>
