<footer>
  <div class="f-left-item">Logo</div>
  <div class="f-right-item">Link</div>
  <div class="f-bottom-item">
    <a href="/">Home</a>
  </div>
</footer>

<%/* Tailwind might actually be a clutch here*/%>
